/* CONTENT WINDOW EXPANSION ANIMATION */
/* should be applied to the .grid contained div */

.expand {
    width: 80vw;
    padding-bottom: 16px;
    transition: .5s;
}

.blur_bg {
    backdrop-filter: brightness(20%);
}

.hide_navbar {
    bottom: -100px !important;
}

/*.grid_expand #navbar {
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%, 0);
}*/

/*
    стоило бы сделать прозрачный див под размер навбара
    а сам навбар вывести как position: fixed;
    таким образом, можно будет делать нормальную анимацию ресайза, просто уменьшая тот див через transition
 */