#content_window {
    height: 100%;
    background-color: white;

    border: 2px outset buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;

    overflow: auto;
}

main {
    padding: 12px;
    font-family: monospace;
    font-size: 1.2em;
}
main ul {
    margin: 0;
    padding-left: 20px;
}
main li {
    margin: 2px 0;
}
main h1 {
    text-align: center;
}
main h2 {
    margin: 16px 0 6px;
}


.header_text {
    margin: 0;
    padding-left: 2px;
    padding-top: 3px;
    color: white;

    font-family: "Sysfont", monospace;
    font-size: 18px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    z-index: 10;

    background: -webkit-linear-gradient(left, #08216b, #a5cef7);
}

.btn_expand {
    padding-bottom: 2px;
}
.btn_expand img {
    width: 12px;
    height: 12px;
    image-rendering: pixelated;
}